<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>Fine Restaurant</title>

<meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
<!-- ImageReady Preload Script (index.psd) -->
<script type="text/javascript">
<!--
function newImage(arg) {
if (document.images) {
rslt = new Image();
rslt.src = arg;
return rslt;
}
}
function changeImages() {
if (document.images && (preloadFlag == true)) {
for (var i=0; i<changeImages.arguments.length; i+=2) {
document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
}
}
}
var preloadFlag = false;
function preloadImages() {
if (document.images) {
home_page_over = newImage("images/home-page-over.jpg");
about_us_over = newImage("images/about-us-over.jpg");
menu_over = newImage("images/menu-over.jpg");
specials_over = newImage("images/specials-over.jpg");
news_over = newImage("images/news-over.jpg");
contacts_over = newImage("images/contacts-over.jpg");
preloadFlag = true;
}
}
// -->
</script><!-- End Preload Script -->
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" onload="preloadImages();" style="background-color: rgb(255, 255, 255);" marginheight="0" marginwidth="0">
<center>
<!-- ImageReady Slices (index.psd) -->
<table class="frame" id="Table_01" border="0" cellpadding="0" cellspacing="0" height="681" width="776">
<tbody>
<tr>
<td colspan="2"> <a href="#" onmouseover="window.status='home page'; changeImages('home_page', 'images/home-page-over.jpg'); return true;" onmouseout="window.status=''; changeImages('home_page', 'images/home-page.jpg'); return true;" onmousedown="changeImages('home_page', 'images/home-page-over.jpg'); return true;" onmouseup="changeImages('home_page', 'images/home-page-over.jpg'); return true;">
<img name="home_page" src="images/home-page.jpg" alt="home page" border="0" height="85" width="182"></a></td>
<td colspan="2"> <a href="#" onmouseover="window.status='about us'; changeImages('about_us', 'images/about-us-over.jpg'); return true;" onmouseout="window.status=''; changeImages('about_us', 'images/about-us.jpg'); return true;" onmousedown="changeImages('about_us', 'images/about-us-over.jpg'); return true;" onmouseup="changeImages('about_us', 'images/about-us-over.jpg'); return true;">
<img name="about_us" src="images/about-us.jpg" alt="about us" border="0" height="85" width="113"></a></td>
<td colspan="2"> <a href="#" onmouseover="window.status='menu'; changeImages('menu', 'images/menu-over.jpg'); return true;" onmouseout="window.status=''; changeImages('menu', 'images/menu.jpg'); return true;" onmousedown="changeImages('menu', 'images/menu-over.jpg'); return true;" onmouseup="changeImages('menu', 'images/menu-over.jpg'); return true;">
<img name="menu" src="images/menu.jpg" alt="menu" border="0" height="85" width="93"></a></td>
<td colspan="2"> <a href="#" onmouseover="window.status='specials'; changeImages('specials', 'images/specials-over.jpg'); return true;" onmouseout="window.status=''; changeImages('specials', 'images/specials.jpg'); return true;" onmousedown="changeImages('specials', 'images/specials-over.jpg'); return true;" onmouseup="changeImages('specials', 'images/specials-over.jpg'); return true;">
<img name="specials" src="images/specials.jpg" alt="specials" border="0" height="85" width="109"></a></td>
<td> <a href="#" onmouseover="window.status='news'; changeImages('news', 'images/news-over.jpg'); return true;" onmouseout="window.status=''; changeImages('news', 'images/news.jpg'); return true;" onmousedown="changeImages('news', 'images/news-over.jpg'); return true;" onmouseup="changeImages('news', 'images/news-over.jpg'); return true;">
<img name="news" src="images/news.jpg" alt="news" border="0" height="85" width="83"></a></td>
<td> <a href="#" onmouseover="window.status='contacts'; changeImages('contacts', 'images/contacts-over.jpg'); return true;" onmouseout="window.status=''; changeImages('contacts', 'images/contacts.jpg'); return true;" onmousedown="changeImages('contacts', 'images/contacts-over.jpg'); return true;" onmouseup="changeImages('contacts', 'images/contacts-over.jpg'); return true;">
<img name="contacts" src="images/contacts.jpg" alt="contacts" border="0" height="85" width="121"></a></td>
<td colspan="2" height="85" width="74"></td>
<td> <img src="images/spacer.gif" alt="" height="85" width="1"></td>
</tr>
<tr>
<td colspan="12"> <img src="images/menu-14.jpg" alt="" height="237" width="775"></td>
<td> <img src="images/spacer.gif" alt="" height="237" width="1"></td>
</tr>
<tr>
<td colspan="5" rowspan="2" align="left" bgcolor="#ff9000" valign="top"> <img src="images/about.jpg" alt="" height="83" width="384"></td>
<td colspan="2" rowspan="6" align="left" bgcolor="#ff9000" height="295" valign="top" width="29"></td>
<td colspan="5" align="left" bgcolor="#ff9000" valign="top"> <img src="images/wel.jpg" alt="" height="43" width="362"></td>
<td> <img src="images/spacer.gif" alt="" height="43" width="1"></td>
</tr>
<tr>
<td colspan="4" rowspan="2" align="left" bgcolor="#ff9000" height="84" valign="top" width="350"><span class="text1">Dolores et ea
consetetur sadi pscing elit consetetur</span><br>
<br>
ed diam nonumy consetetur sadi lorem sed et ea pscing elitr, sed diam
nonumy consetetur sadi lorem sed sadi pscing elit consetetur pscing
elitr, sed diam nonumy consetetur sadi lorem sed et ea <span style="padding-right: 8px;"><a href="#" class="a">|
more</a></span></td>
<td rowspan="5" align="left" bgcolor="#ff9000" height="252" valign="top" width="12"></td>
<td> <img src="images/spacer.gif" alt="" height="40" width="1"></td>
</tr>
<tr>
<td colspan="3" rowspan="3" align="left" bgcolor="#ff9000" valign="top"> <img src="images/about-17.jpg" alt="" height="134" width="212"></td>
<td colspan="2" rowspan="3" style="padding-right: 8px;" align="left" bgcolor="#ff9000" height="134" valign="top" width="172"><span class="text1">Dolores et ea
consetetur sadi pscing elit consetetur</span><br>
ed diam nonumy consetetur sadi lorem sed et ea pscing elitr, sed diam
nonumy consetetur sadi lorem sed sadi pscing elit consetetur pscing
elitr, sed diam nonumy consetetur sadi <a href="#" class="a">|
more</a></td>
<td> <img src="images/spacer.gif" alt="" height="44" width="1"></td>
</tr>
<tr>
<td colspan="4" align="left" bgcolor="#ff9000" valign="top"> <img src="images/specials-18.jpg" alt="" height="50" width="350"></td>
<td> <img src="images/spacer.gif" alt="" height="50" width="1"></td>
</tr>
<tr>
<td colspan="2" rowspan="2" align="left" bgcolor="#ff9000" valign="top"> <img src="images/specials-19.jpg" alt="" height="118" width="167"></td>
<td colspan="2" rowspan="2" align="left" bgcolor="#ff9000" height="118" valign="top" width="183"><span class="text1">Dolores et ea
consetetur sadi pscing elit consetetur</span><br>
ed diam nonumy consetetur sadi lorem sed et ea pscing elitr, sed diam
nonumy consetetur sadi lorem sed sadi pscing elit consetetur pscing
elitr, sed diam nonumy consetetur sadi <span style="padding-right: 8px;"><a href="#" class="a">|
more</a></span></td>
<td> <img src="images/spacer.gif" alt="" height="40" width="1"></td>
</tr>
<tr>
<td align="left" bgcolor="#ff9000" valign="top">
<img src="images/about-20.jpg" alt="" height="78" width="73"></td>
<td colspan="4" style="line-height: 20px; padding-top: 2px;" align="left" bgcolor="#ff9000" height="78" valign="top" width="311"><a href="#" class="b">ed
diam nonumy consetetur sadi lorem sed et ea pscing elit ,</a><br>
<a href="#" class="b">sed diam nonumy
consetetur sadi lorem sed sadi pscing elit<br>
</a><a href="#" class="b">consetetur
pscing elitr, sed diam nonumy consetetur sad</a></td>
<td> <img src="images/spacer.gif" alt="" height="78" width="1"></td>
</tr>
<tr>
<td colspan="12" align="center" bgcolor="#4c4c4c" height="63" valign="middle" width="775"><a href="#">HOME</a> | <a href="#">ABOUT US</a>
| <a href="#">MENU</a> | <a href="#">SPECIALS</a>
| <a href="#">NEWS &amp; EVENTS</a> | <a href="#">CONTACTS</a> <br>
Copyright © Your Company Name. Designed by <a href="http://www.templatesland.com" target="_blank">TemplatesLand</a><br>
Supported by <a href="http://www.hosting24.com/" target="_blank">Hosting24.com</a> </td>
<td> <img src="images/spacer.gif" alt="" height="63" width="1"></td>
</tr>
<tr>
<td> <img src="images/spacer.gif" alt="" height="1" width="73"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="109"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="30"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="83"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="89"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="4"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="25"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="84"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="83"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="121"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="62"></td>
<td> <img src="images/spacer.gif" alt="" height="1" width="12"></td>
<td></td>
</tr>
</tbody>
</table>
<!-- End ImageReady Slices -->
</center>
</body></html>